.claude/worktrees/
.worktrees/
worktrees/

# Claude Code sandbox sentinel files
.bash_profile
.bashrc
.profile
.zprofile
.zshrc
.ripgreprc
.idea
.git/HEAD
.git/config
.git/hooks
.git/objects
.git/refs

# State Json
.claude/hooks/workflow/state.json

# CLaude Settings
.claude/settings.local.json

